* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

img {
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .is-pc {
    display: none;
  }
}

.m-mv-inner, .header-inner {
  width: calc(100vw - 20px);
}

@media screen and (min-width: 1000px) {
  .m-mv-inner, .header-inner {
    width: calc(100vw - ((100vw - 960px) / 2));
  }
}

.recruit .feature-lyt__text--title {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.8rem;
}

.recruit .feature-lyt__text--title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 40px;
  background-color: #2EA7C8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  bottom: -20px;
}

.m-h2-ttl, .m-lyt-01__title {
  display: block;
  text-align: center;
  font-size: 2.8rem;
  color: #0A1133;
  font-weight: 600;
  margin-bottom: 40px;
}

.m-h2-ttl > span, .m-lyt-01__title > span {
  display: block;
  font-size: 2rem;
}

.m-h2-ttl > b, .m-lyt-01__title > b {
  color: #2EA7C8;
  font-size: 4.8rem;
  line-height: 0.75;
}

html {
  font-size: 10px;
}

* {
  line-height: 1.75;
  font-size: 1.6rem;
  color: #0A1133;
  font-family: "Zen Kaku Gothic New", "Meiryo", sans-serif;
}

body {
  background-color: #F0F0F0;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 960px;
  margin: auto;
  padding: 0 20px;
}

section {
  margin-bottom: 160px;
}

.m-mv {
  margin-top: 80px;
}

.m-mv-inner {
  position: relative;
  margin-left: auto;
  height: 400px;
  background-image: url(../../../docs/shared/img/mv-common-01.png);
  background-size: 82.545141874%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: 20px;
}

.m-mv-title {
  position: absolute;
  left: 20px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 38px;
  background-color: #043847;
  color: #fff;
  width: 460px;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 100px;
  border-radius: 8px;
}

.m-mv-title > span {
  color: #fff;
  font-size: 3.6rem;
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
}

.m-c-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-c-btn__item {
  position: relative;
  width: calc(50% - 15px);
  border-radius: 8px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.m-c-btn__item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 8px;
}

.m-c-btn__item:hover:after {
  opacity: 0;
}

.m-c-btn__item a {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  padding: 83px 20px;
  font-size: 1.6rem;
  z-index: 1;
}

.m-c-btn__item a::before {
  position: absolute;
  content: "";
  background-image: url(../../../docs/shared/img/bg-common-01.png);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
}

.m-c-btn__item a b {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: #fff;
  font-size: 3.6rem;
  font-weight: bold;
}

.m-c-btn__item:first-child {
  background: #94621d;
  background: linear-gradient(315deg, #94621d 0%, #d58e2b 50%, #ec9c2d 100%);
}

.m-c-btn__item:first-child::after {
  background: #2ca6c6;
  background: linear-gradient(135deg, #2ca6c6 0%, #16677d 50%, #1e608a 100%);
}

.m-c-btn__item:last-child {
  background: #94621d;
  background: linear-gradient(135deg, #94621d 0%, #d58e2b 50%, #ec9c2d 100%);
}

.m-c-btn__item:last-child::after {
  background: #1e608a;
  background: linear-gradient(135deg, #1e608a 0%, #16677d 50%, #2ca6c6 100%);
}

.m-more-btn {
  position: relative;
  display: block;
  width: 184px;
}

.m-more-btn__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.m-more-btn::before, .m-more-btn::after {
  position: absolute;
  content: "";
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  background-color: #0A1133;
  left: 0;
  width: 100%;
  height: 2px;
}

.m-more-btn::before {
  top: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.m-more-btn::after {
  bottom: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.m-more-btn:hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.m-more-btn:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.m-more-btn__contact a {
  width: 232px;
}

.m-more-btn a {
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 18px 0;
}

.m-more-btn a::before, .m-more-btn a::after {
  position: absolute;
  content: "";
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  background-color: #0A1133;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  top: 0;
  width: 2px;
  height: 100%;
}

.m-more-btn a::before {
  left: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.m-more-btn a::after {
  right: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  transform-origin: top;
}

.m-more-btn a:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.m-more-btn a:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.m-more-btn--contact {
  width: 232px;
}

.m-more-btn--contact:before, .m-more-btn--contact::after {
  position: absolute;
  content: "";
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  background-color: #CC8829;
}

.m-more-btn--contact a:before, .m-more-btn--contact a::after {
  position: absolute;
  content: "";
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  background-color: #CC8829;
}

.m-h3-ttl--01, .m-h3-ttl--02 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.m-h3-ttl--01 span {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Times New Roman ,serif;
  font-style: italic;
  color: #0A113399;
  font-size: 1.2rem;
  padding-left: 24px;
}

.m-h3-ttl--01 span::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 16px;
  background-color: #2EA7C8;
  left: 0;
  top: 50%;
}

.m-h3-ttl--02 {
  position: relative;
  text-align: center;
  padding-bottom: 24px;
}

.m-h3-ttl--02::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 28px;
  background-color: #2EA7C8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  bottom: 0;
}

.m-lead {
  text-align: center;
  margin-bottom: 80px;
  font-size: 1.6rem;
}

.m-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 48px;
}

.m-card-item {
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 8px #00000029;
          box-shadow: 0 3px 8px #00000029;
}

.m-card-item__img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.m-card-item__title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  padding: 16px;
}

.m-card-item__text {
  font-size: 1.6rem;
  padding: 0 16px 40px;
}

.m-thum {
  margin-top: 80px;
}

.m-thum .inner {
  position: relative;
  background-image: url(../../../docs/shared/img/bg-common-02.png);
  background-size: cover;
  background-position: center;
  padding-top: 56.25%;
}

.m-thum-title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: #fff;
}

.m-thum-title b {
  font-size: 2.8rem;
  font-weight: bold;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
}

.m-thum-title b > span {
  font-size: 4rem;
  color: #fff;
}

.m-lyt-01 {
  width: calc(100vw - ((100vw - 960px) / 2));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50vw calc((100% - 50vw) / 2) auto;
      grid-template-columns: 50vw calc((100% - 50vw) / 2) auto;
  -ms-grid-rows: 80px auto 24px;
      grid-template-rows: 80px auto 24px;
}

@media screen and (max-width: 1366px) {
  .m-lyt-01 {
    width: calc(100vw - ((100vw - 960px) / 2));
  }
}

.m-lyt-01__box {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px 264px 96px calc(((100vw - 960px) / 2) + 70px);
}

@media screen and (max-width: 980px) {
  .m-lyt-01__box {
    padding: 40px 264px 96px 60px;
  }
}

.m-lyt-01__img {
  position: relative;
  z-index: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.m-lyt-01__title {
  text-align-last: left;
}

.m-lyt-01__text {
  margin-bottom: 40px;
}

.m-lyt-01:nth-child(odd) .m-span-title {
  left: calc(((100vw - 960px) / 2) - 20px);
  top: 45%;
}

@media screen and (max-width: 980px) {
  .m-lyt-01:nth-child(odd) .m-span-title {
    left: -10px;
  }
}

.m-lyt-01:nth-child(even) {
  -ms-grid-columns: auto calc((100% - 50vw) / 2) 50vw;
      grid-template-columns: auto calc((100% - 50vw) / 2) 50vw;
  -ms-grid-rows: 24px auto 80px;
      grid-template-rows: 24px auto 80px;
  margin-left: auto;
}

.m-lyt-01:nth-child(even) .m-lyt-01__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.m-lyt-01:nth-child(even) .m-lyt-01__box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  padding: 40px calc(((100vw - 960px) / 2)) 96px 264px;
}

@media screen and (max-width: 980px) {
  .m-lyt-01:nth-child(even) .m-lyt-01__box {
    padding: 40px 60px 96px 264px;
  }
}

.m-lyt-01:nth-child(even) .m-lyt-01__box .m-span-title {
  left: none;
  right: calc(((100vw - 960px) / 2) - 20px);
  top: 45%;
}

@media screen and (max-width: 980px) {
  .m-lyt-01:nth-child(even) .m-lyt-01__box .m-span-title {
    right: -10px;
  }
}

.m-span-title {
  position: absolute;
  color: #2EA7C8;
  font-size: 1.2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: inline-block;
}

.m-span-title::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 24px;
  background-color: #2EA7C8;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  right: -6px;
  top: 50%;
}

.header {
  position: relative;
  background: #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  z-index: 999;
}

.header-top {
  background-color: rgba(255, 255, 255, 0);
}

.header-top .header-inner {
  background-color: inherit;
}

.header-top .header-nav__item a {
  color: #fff;
}

.header-top .header-nav__item a::before {
  background-color: #fff;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1366px;
  margin-left: auto;
  padding-left: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (min-width: 1366px) {
  .header-inner {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1366px) {
  .header-logo {
    margin-left: 92px;
  }
}

.header-logo a {
  display: block;
}

.header-logo a:hover {
  opacity: .7;
}

.header-nav {
  margin-right: 0;
}

@media screen and (min-width: 1366px) {
  .header-nav {
    margin-right: -100px;
  }
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item:first-child {
  margin-left: 0;
}

.header-nav__item a {
  color: #0A1133;
  padding: 4px;
  font-size: 1.6rem;
  position: relative;
}

.header-nav__item a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #0A1133;
  bottom: -2px;
  right: 0;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header-nav__item a:hover::before {
  width: 100%;
  left: 0;
}

.header-nav__item--contact {
  display: block;
}

.header-nav__item--contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  height: 100%;
  padding: 0 20px;
  background-color: #D9912B;
  color: #fff;
}

.header-nav__item--contact a::before {
  display: none;
}

.header-nav__item--contact a:hover {
  background-color: #fff;
  color: #D9912B;
}

.footer {
  background-color: #043847;
}

.footer * {
  color: #fff;
}

.footer .inner {
  padding-top: 40px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav__item {
  margin-left: 20px;
}

.footer-nav__item:first-of-type {
  margin-left: 0;
}

.footer-nav__item a {
  color: #fff;
}

.footer-nav__item a:hover {
  opacity: .7;
}

.footer-info {
  margin-bottom: 20px;
}

.footer-info__address:hover {
  opacity: .7s;
}

.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__copy small {
  font-size: 1.2rem;
}

.footer-bottom__link--item {
  font-size: 1.2rem;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.footer-bottom__link--item:hover {
  opacity: .7;
}

.index {
  margin-top: -80px;
}

.index .mv {
  position: relative;
  background-image: url(../../../docs/shared/img/mv-index-01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 56.25vw;
}

.index .mv .inner {
  position: relative;
  height: 100%;
}

.index .mv-text {
  position: absolute;
  bottom: 160px;
  left: 20px;
}

.index .mv-text__title,
.index .mv-text__title b {
  color: #fff;
}

.index .mv-text__title {
  font-size: 2rem;
}

.index .mv-text__title b {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.6rem;
  font-weight: bold;
}

.index .mv-news {
  position: absolute;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #003847;
  right: 0;
  bottom: 0;
  width: 80%;
  max-width: 683px;
}

.index .mv-news a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 24px;
}

.index .mv-news a > * {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  color: #fff;
}

.index .mv-news-title {
  position: relative;
  font-size: 1.6rem;
  margin-right: 72px;
}

.index .mv-news-title::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  top: 50%;
  width: 40px;
  height: 1px;
  background-color: #fff;
  right: -16px;
}

.index .mv-news time {
  font-size: 1.2rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 16px;
}

.index .mv-news p {
  font-size: 1.6rem;
}

.index .mv-news::before {
  position: absolute;
  content: "";
  top: 65%;
  right: 15%;
  width: 12px;
  height: 12px;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transition: right .3s;
  transition: right .3s;
  -webkit-transform: rotate(-45deg) translate(100%, -50%);
          transform: rotate(-45deg) translate(100%, -50%);
}

.index .mv-news:hover > * {
  opacity: .7;
}

.index .mv-news:hover::before {
  right: 10%;
}

.index .lead {
  position: relative;
  margin-bottom: 265px;
}

.index .lead .inner {
  position: relative;
}

.index .lead::before {
  position: absolute;
  content: "";
  width: calc((375 / 1366) * 100vw);
  height: calc((375 / 1366) * 100vw);
  background-image: url(../../../docs/shared/img/icon-index-01.png);
  background-position: center;
  background-size: cover;
  top: -48px;
  left: 50%;
}

.index .lead-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 40px;
}

.index .lead .m-lead {
  margin-bottom: 0;
}

.index .lead .m-span-title {
  right: 0px;
  top: 50%;
}

.index .recruit {
  background-image: url(../../../docs/shared/img/bg-index-01.png);
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
}

.index .recruit .m-h2-ttl,
.index .recruit .m-h2-ttl span, .index .recruit-text {
  color: #fff;
}

.index .recruit-text {
  text-align: center;
  margin-bottom: 40px;
}

.index .recruit .m-more-btn::before, .index .recruit .m-more-btn::after {
  background-color: #fff;
}

.index .recruit .m-more-btn a {
  color: #fff;
}

.index .recruit .m-more-btn a::before, .index .recruit .m-more-btn a::after {
  background-color: #fff;
}

.index .recruit .m-more-btn:last-child::before, .index .recruit .m-more-btn:last-child::after {
  background-color: #CC8829;
}

.index .recruit .m-more-btn:last-child a::before, .index .recruit .m-more-btn:last-child a::after {
  background-color: #CC8829;
}

.index .contact .inner {
  background-color: rgba(245, 245, 245, 0.9);
  -webkit-box-shadow: 0px 0px 100px rgba(245, 245, 245, 0.9);
          box-shadow: 0px 0px 100px rgba(245, 245, 245, 0.9);
  padding: 42px 123px 38px 32px;
}

.index .contact .m-h2-ttl {
  text-align-last: left;
}

.index .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company .m-mv-inner {
  background-image: url(../../..//docs/shared/img/mv-company-01.png);
}

.company .message-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.company .message__img {
  -webkit-box-flex: 40%;
      -ms-flex: 40% 1 1;
          flex: 40% 1 1;
}

.company .message__img--img {
  margin: 0 0 16px 0;
}

.company .message__img--img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.company .message__img--name {
  font-size: 1.6rem;
}

.company .message__img--name b {
  display: block;
  font-size: 2.8rem;
  font-weight: bold;
}

.company .message__info {
  -webkit-box-flex: 60%;
      -ms-flex: 60% 1 1;
          flex: 60% 1 1;
  padding-top: 24px;
  padding-left: 24px;
}

.company .message__info--text {
  margin-bottom: 65px;
}

.company .message-career__title {
  position: relative;
  font-size: 2.8rem;
  font-weight: bold;
  padding-bottom: 3px;
}

.company .message-career__title::before, .company .message-career__title::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  left: 0;
}

.company .message-career__title::before {
  width: 100%;
  background-color: rgba(4, 56, 71, 0.4);
}

.company .message-career__title::after {
  width: 25%;
  background-color: #2EA7C8;
}

.company .message-career__contents {
  padding: 40px 16px 0;
}

.company .message-career__contents-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.company .message-career__contents-item:last-child {
  margin-bottom: 0;
}

.company .message-career__contents-item dt, .company .overview-list__item dt {
  -webkit-box-flex: 25%;
      -ms-flex: 25% 1 1;
          flex: 25% 1 1;
}

.company .message-career__contents-item dd, .company .overview-list__item dd {
  -webkit-box-flex: 75%;
      -ms-flex: 75% 1 1;
          flex: 75% 1 1;
}

.company .overview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #B0B2BB;
}

.company .overview-list__item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.company .overview-list__item--map {
  position: relative;
  overflow: hidden;
  margin-top: 24px;
  padding-top: 56.25%;
}

.company .overview-list__item--map iframe {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.strength .m-mv-inner {
  background-image: url(../../../docs/shared/img/mv-strength-01.png);
}

.strength .reason-lead {
  text-align: center;
  margin-bottom: 80px;
}

.strength .reason-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: auto;
  margin-bottom: 200px;
}

.strength .reason-item:last-child {
  margin-bottom: 0;
}

.strength .reason-item--odd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 0;
  margin-left: auto;
}

.strength .reason-item--odd > .reason-item__img {
  margin-left: 0;
  margin-right: -100px;
}

.strength .reason-item__img {
  max-width: 344px;
  max-height: 344px;
  min-width: 280px;
  min-height: 280px;
  width: 25.18vw;
  height: 25.18vw;
  overflow: hidden;
  margin-left: -100px;
}

.strength .reason-item__img img {
  height: 100%;
  width: auto;
}

.strength .reason-item__box {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
  padding: 80px 140px;
  max-width: 67.57vw;
}

.business .m-mv-inner {
  background-image: url(../../../docs/shared/img/mv-business-01.png);
}

.business .philosophy {
  background-image: url(../../../docs/shared/img/bg-business-01.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 80px 20px;
}

.business .philosophy::before, .business .philosophy::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
}

.business .philosophy::before {
  background-color: rgba(4, 56, 71, 0.5);
}

.business .philosophy::after {
  background-image: url(../../../docs/shared/img/bg-business-02.png);
}

.business .philosophy__title, .business .philosophy__list, .business .philosophy__list--item {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.business .philosophy__title {
  font-size: 2.8rem;
  font-weight: bold;
}

.business .philosophy__list--item {
  margin-bottom: 20px;
  font-size: 2rem;
}

.business .philosophy__list--item:last-child {
  margin-bottom: 0;
}

.recruit .m-mv-inner {
  background-image: url(../../../docs/shared/img/mv-recruit-01.png);
}

.recruit .invite {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: calc((644 / 1366) * 100vw);
  -ms-grid-columns: 32% 37% 31%;
      grid-template-columns: 32% 37% 31%;
  -ms-grid-rows: 18.63% 57.17% 24.22%;
      grid-template-rows: 18.63% 57.17% 24.22%;
}

.recruit .invite__box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 80px 24px 100px;
  text-align: center;
  z-index: 1;
}

.recruit .invite__box--title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 36px;
}

.recruit .invite__box--text {
  margin-bottom: 16px;
}

.recruit .invite__box--text:last-child {
  margin-bottom: 0;
}

.recruit .invite__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.recruit .feature-lyt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recruit .feature-lyt:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.recruit .feature-lyt:nth-child(even) .feature-lyt__text--non {
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.recruit .feature-lyt .feature-lyt__text, .recruit .feature-lyt .feature-lyt__img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.recruit .feature-lyt__text {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recruit .feature-lyt__text--non {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Times New Roman ,serif;
  font-size: 90px;
  line-height: 1;
  font-style: italic;
  color: transparent;
  background: linear-gradient(135deg, #2ea7c8 0%, #043847 100%);
  background-clip: text;
  -webkit-background-clip: text;
  display: block;
}

.recruit .feature-lyt__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.recruit .feature-slide {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc((324 / 1366) * 100vw);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: feature-slide 15s linear infinite;
          animation: feature-slide 15s linear infinite;
}

@-webkit-keyframes feature-slide {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes feature-slide {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.recruit .feature-slide-wrap {
  overflow: hidden;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 48px;
}

.recruit .feature-slide__img {
  width: calc((432 / 1366) * 100vw);
  margin-right: 48px;
}

.recruit .job-desc-list {
  background-color: #fff;
  padding: 80px 20px;
}

.recruit .job-desc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #B5B7C1;
  padding-bottom: 16px;
  padding-left: 24px;
  margin-bottom: 16px;
}

.recruit .job-desc-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.recruit .job-desc-item__term {
  -webkit-box-flex: 38%;
      -ms-flex: 38% 1 1;
          flex: 38% 1 1;
}

.recruit .job-desc-item__desc {
  -webkit-box-flex: 62%;
      -ms-flex: 62% 1 1;
          flex: 62% 1 1;
}

.post-wrap > .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -ms-grid-rows: 325px auto;
      grid-template-rows: 325px auto;
  margin-bottom: 160px;
}

.post-mv {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.post-mv .m-h2-ttl {
  margin-top: 160px;
  text-align: center;
}

.post-main, .post-side {
  background-color: #fff;
  padding: 80px 0;
}

.post-list {
  margin-bottom: 80px;
}

.post-item {
  margin-bottom: 24px;
}

.post-item:last-child {
  margin-bottom: 0;
}

.post-item__date {
  font-size: 1.6rem;
}

.post-item__tag {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 36px;
  margin-bottom: 8px;
}

.post-item__tag::before, .post-item__tag::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 1px;
  background-color: #2EA7C8;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.post-item__tag::before {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  left: -4px;
}

.post-item__tag::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  right: -4px;
}

.post-item__title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 24px;
  border-bottom: 1px solid #B5B7C1;
}

.post-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.post-pagination .post-pagination__item a:hover, .post-pagination__item .post-pagination a:hover, .post-pagination ._current a {
  border: 1px solid #2EA7C8;
  background-color: #2EA7C8;
  color: #fff;
}

.post-pagination__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #B5B7C1;
  color: #B5B7C1;
  font-size: 1.4rem;
  font-weight: bold;
  -webkit-transition: background .3s, color .3s border .3s;
  transition: background .3s, color .3s border .3s;
}

.post-side__title {
  position: relative;
  font-size: 2.8rem;
  margin-bottom: 28px;
}

.post-side__title::after, .post-side__title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #B5B7C1;
  left: 0;
  bottom: -2px;
}

.post-side__title::after {
  width: calc((138 / 344) * 100%);
  background-color: #2EA7C8;
}

.post-side-list-wrap {
  margin-bottom: 80px;
}

.post-side-list-wrap:last-child {
  margin-bottom: 0;
}

.post-side-list-wrap .post-side-list__item--post, .post-side-list-wrap .post-side-list__item--cat {
  margin-bottom: 24px;
}

.post-side-list-wrap .post-side-list__item--post:last-child, .post-side-list-wrap .post-side-list__item--cat:last-child {
  margin-bottom: 0;
}

.post-side-list-wrap .post-side-list__item--post a, .post-side-list-wrap .post-side-list__item--cat a {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.post-side-list-wrap .post-side-list__item--post a:hover, .post-side-list-wrap .post-side-list__item--cat a:hover {
  opacity: .7;
}

.post-side-list__item--post {
  padding-bottom: 24px;
  border-bottom: 1px solid #B5B7C1;
}

.post-side-list__item--post a {
  font-size: 2rem;
}

.post-side-list__item--cat {
  padding-left: 16px;
}

.post-side-list__item--cat a {
  font-size: 1.6rem;
}

.post-side-list input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #B5B7C1;
}

.m-form-item {
  margin-bottom: 40px;
}

.m-form-title {
  font-size: 2.4rem;
  border-bottom: 2px solid #B5B7C1;
  margin-bottom: 16px;
}

.m-form__label {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  background-color: #992E2E;
  line-height: 1;
  padding: 4px 6px;
  border-radius: 4px;
  margin-left: 8px;
  vertical-align: middle;
}

.m-form-list {
  padding: 0 16px;
}

.m-form-list__item {
  margin-bottom: 16px;
}

.m-form-list__item:last-child {
  margin-bottom: 0;
}

.m-form-list__item > label {
  display: block;
  margin-bottom: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.m-form-list__item > input, .m-form-list__item > textarea, .m-form-list__item > select {
  border: 1px solid #B5B7C1;
  border-radius: 4px;
  padding: 4px 6px;
}

.m-form-list__item > input {
  width: 50%;
  height: 48px;
}

.m-form-list__item > textarea {
  resize: none;
  width: 100%;
  height: 160px;
}

.m-form-list__item--radio {
  position: relative;
}

.m-form-list__item--radio input, .m-form-list__item--radio label::before, .m-form-list__item--radio label::after {
  position: absolute;
  content: "";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  top: 50%;
}

.m-form-list__item--radio input {
  width: 14px;
  height: 14px;
  border-radius: 0%;
  border: none;
  background-color: inherit;
  display: inline;
  left: 12px;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.m-form-list__item--radio label {
  position: relative;
  width: calc(735px * 0.15);
  background-color: rgba(15, 45, 77, 0.1);
  border-radius: 4px;
  padding: 6px 12px 6px 32px;
}

.m-form-list__item--radio label::before {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #B5B7C1;
  left: 8px;
}

.m-form-list__item--radio label::after {
  display: none;
  width: 8px;
  height: 8px;
  background-color: #0A1133;
  border: 1px solid #0A1133;
  left: 12px;
}

.m-form-list__item--radio input:checked + label {
  background-color: #043847;
  color: #fff;
}

.m-form-list__item--radio input:checked + label::after {
  display: block;
}

.m-form-list__item--radio input:focus-visible {
  outline: none;
}

.m-form-list__item--radio input:focus-visible + label {
  outline: 2px solid #015ECC;
}

.m-form-list__item--old input {
  width: calc(735px * 0.1);
}

.m-form-list__item--file {
  position: relative;
}

.m-form-list__item--file input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 50%;
  left: 0%;
  z-index: -1;
}

.m-form-list__item--file > p {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #B5B7C1;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #fff;
}

.m-form-list__item--file input:focus-visible {
  outline: none;
}

.m-form-list__item--file input:focus-visible + p {
  border: 2px solid #015ECC;
}

.m-form-list__item--check {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.m-form-list__item--check > label {
  margin-bottom: 0;
  padding-left: 24px;
}

.m-form-list__item--check > input {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  top: 50%;
  left: 0;
}

.m-form-list__item--check > input::before, .m-form-list__item--check > input::after {
  position: absolute;
  content: "";
  top: 50%;
}

.m-form-list__item--check > input::before {
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #B5B7C1;
  background-color: #fff;
}

.m-form-list__item--check > input::after {
  display: none;
  width: 10px;
  height: 6px;
  border-bottom: 2px solid #B5B7C1;
  border-left: 2px solid #B5B7C1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 3px;
  top: 3px;
}

.m-form-list__item--check > input:checked::after {
  display: block;
}

.m-form-list__item--btn {
  width: calc(735px * .35);
  margin: 0 auto;
}

.m-form-list__item--btn > input {
  width: 100%;
  background-color: #fff;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}

.m-form-list__item--btn > input:hover {
  background-color: #B5B7C1;
  color: #fff;
}
