html{
    font-size: 10px;
}
*{
    line-height: 1.75;
    font-size: $fz-base_pc;
    color: $c-01;
    font-family: $ff;
}

body{
    background-color: $c-02;
}
main{
    padding-top: 80px;

    @include mq(sm){
        padding-top: 40px;
    }
}

a{
    text-decoration: none;
    transition: all .3s;
}

.inner{
    box-sizing: content-box;
    max-width: 960px;
    margin: auto;
    padding: 0 20px;

    @include mq(sm){
        padding: 0 10px;
    }
}

section{
    margin-bottom: 160px;
    
    @include mq(sm){
        margin-bottom: 120px;
    }
    
    &:first-child{
        margin-top: 70px;

        @include mq(sm){
            margin-top: 63.34px;
        }
    }
}

.new_line{
    display: inline-block;
}

//mv
.m-mv{
    margin-top: 80px;

    @include mq(sm){
        margin-top: 40px;
        margin-bottom: 150px;
    }

    &-inner{
        position: relative;
        margin-left: auto;
        height: 400px;
        background-image: url(../../../docs/shared/img/mv-common-01.png) ;
        background-size:82.545141874%;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        box-sizing: content-box;
        padding-left: 20px;
        @extend %w-01;

        @include mq(sm){
            background-size: cover;
            height: 41.6vw;
        }
    }

    &-title{
        position: absolute;
        left: 20px;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 22px 38px;
        background-color: $c-03;
        color: $c-06;
        width: 460px;
        font-size: $fz-txt_01;
        font-weight: bold;
        border-radius: 8px;

        @include mq(sm){
            width: calc(100vw - 20px);
            left: 0;
            transform: translateY(50%);
            padding: 18px;
            flex-direction: column-reverse;
            align-items: start;
            font-size: $fz-txt_09;
            line-height: 1;
        }

        & >span{
            color: $c-06;
            font-size: $fz-h1_pc;
            font-weight: bold;
            display: inline-block;
            margin-right: 20px;

            @include mq(sm){
                line-height: 1;
                margin-top: 8px;
            }
        }
    }
}

//c-btn
.m-c-btn{
    display: flex;
    justify-content: space-between;

    @include mq(sm){
        flex-direction: column;
        gap: 40px;
    }

    &__item{
        position: relative;
        width: calc(50% - 15px);
        border-radius: 8px;
        transition: all .3s;

        @include mq(sm){
            width: 100%;
        }

        &::after{
            position: absolute;
            content : "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 0.5s;
            border-radius: 8px;
            z-index: 0;
        }

        &::before{
            position: absolute;
            content: "";
            background-image: url(../../../docs/shared/img/bg-common-01.png);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0%;
            z-index: 1;
        }

        &:hover{
            &:after{
                opacity: 0;
            }
        }
        a{
            position: relative;
            display: block;
            color: $c-06;
            text-align: center;
            padding: 83px 20px;
            font-size: $fz-base_pc;
            z-index: 1;
            
            b{
                display: block;
                width: fit-content;
                margin: auto;
                color: $c-06;
                font-size: $fz-c-btn;
                font-weight: bold;
            }
        }
        &:first-child{
            background: rgb(148,98,29);
            background: linear-gradient(315deg, rgba(148,98,29,1) 0%, rgba(213,142,43,1) 50%, rgba(236,156,45,1) 100%);
            &::after{
                background: rgb(44,166,198);
                background: linear-gradient(135deg, rgba(44,166,198,1) 0%, rgba(22,103,125,1) 50%, rgba(30,96,138,1) 100%);
            }
        }
        
        &:last-child{
            background: rgb(148,98,29);
            background: linear-gradient(135deg, rgba(148,98,29,1) 0%, rgba(213,142,43,1) 50%, rgba(236,156,45,1) 100%);
                
            &::after{
                background: rgb(30,96,138);
                background: linear-gradient(135deg, rgba(30,96,138,1) 0%, rgba(22,103,125,1) 50%, rgba(44,166,198,1) 100%);
            }
        }
    }
}

//more-btn
@mixin more-btn__ba($bg){
    position: absolute;
    content: "";
    transition: transform .5s;
    background-color: $bg;
}

.m-more-btn{
    position: relative;
    display: block;
    width: 184px;

    &__wrap{
        display: flex;
        justify-content: center;
        gap: 24px;

        @include mq(sm){
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    //borderのホバー時の動き
    @mixin more-btn__border--h ($scale, $position) {
        transform: $scale;
        transform-origin: $position;
        transition: transform .5s;
    }

    //borderのホバー前の動き
    @mixin more-btn__border ($position) {
        transform-origin: $position;
    }


    &::before,
    &::after{
        @include more-btn__ba($c-01);
        left: 0;
        width: 100%;
        height: 2px;
    }
    &::before{
        top: 0;
        @include more-btn__border (right);
    }
    &::after{
        bottom: 0;
        @include more-btn__border (left);
    }
    
    &:hover{
        &::before{
            @include more-btn__border--h(scaleX(0),left);
        }
        &::after{
            @include more-btn__border--h(scaleX(0),right);
        }
        
    }

    &__contact{
        a{
            width: 232px;
        }
    }

    a{
        display: block;
        text-align: center;
        position: relative;
        width: 100%;
        padding: 18px 0;


        &::before,
        &::after{
            @include more-btn__ba($c-01);
            transform: scaleY(0);
            top: 0;
            width: 2px;
            height: 100%;
        }
        &::before{
            left: 0;
            @include more-btn__border (bottom);
        }
        &::after{
            right: 0;
            @include more-btn__border (top);
            transform-origin: top;
        }
        
        &:hover{
            &::before{
                @include more-btn__border--h(scaleY(1),top);
            }
            &::after{
                @include more-btn__border--h(scaleY(1),bottom);
            }
            
        }
    }

    &--contact{
        width: 232px;
        &:before,
        &::after{
            @include more-btn__ba($c-08);
        }
        a{
            &:before,
            &::after{
                @include more-btn__ba($c-08);
            }
        }

    }
}

//タイトル
//h2-ttl
.m-h2-ttl{
    @extend %m-h2-ttl;
}

//h3
%m-h3{
    font-size: $fz-h3_pc;
    font-weight: 500;
    margin-bottom: 24px;
}

.m-h3-ttl{
    &--01{
        @extend %m-h3;

        span{
            position: relative;
            display: block;
            width: fit-content;
            font-family: Times New Roman ,serif;
            font-style: italic;
            color: $c-09;
            font-size: $fz-reason--sub;
            padding-left: 24px;

            &::before{
                position: absolute;
                content: "";
                height: 1px;
                width: 16px;
                background-color: $c-07;
                left: 0;
                top: 50%;
            }
        }
    }

    &--02{
        position: relative;
        text-align: center;
        padding-bottom: 24px;
        @extend %m-h3;

        &::before{
            position: absolute;
            content: "";
            height: 2px;
            width: 28px;
            background-color: $c-07;
            transform: translate(-50%, -50%);
            left: 50%;
            bottom: 0;
            
        }
    }
}

//リード文
.m-lead{
    padding: 0 10px;
    margin-bottom: 80px;
    font-size: 1.6rem;

    br{
        display: none;
    }

    @include mq(osm){
        text-align-last: center;

        br{
            display: block;
        }
        
        .new_line{
            display: inline;
        }
    }
}

//card
.m-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 48px;

    &-item{
        border-radius: 8px;
        box-shadow: 0 3px 8px #00000029;
        
        &__img{
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }
        
        &__title{
            text-align: center;
            font-size: $fz-h3_pc;
            font-weight: bold;
            padding: 16px;
        }

        &__text{
            font-size: 1.6rem;
            padding: 0 16px 40px;
        }
    }
}

//投稿系のMV
.m-thum{
    margin-top: 80px;

    .inner{
        position: relative;
        background-image: url(../../../docs/shared/img/bg-common-02.png);
        background-size: cover;
        background-position: center;
        padding-top: 56.25%;
    }


    &-title{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: $fz-txt_01;
        color: $c-06;
        
        b{
            font-size: $fz-txt_02;
            font-weight: bold;
            display: block;
            width: fit-content;
            color: $c-06;
            
            &>span{
                font-size: $fz-txt_03;
                color: $c-06;
            }
        }
    }

}

//lyt
.m-lyt-01{
    width: calc(100vw - ((100vw - 960px) / 2));
    display: grid;
    grid-template-columns: 50vw calc((100% - 50vw) / 2) auto;
    grid-template-rows: 80px auto 24px;

    @media screen and (max-width: 1366px){
        width: calc(100vw - ((100vw - 960px) / 2));
    }
        
    @media screen and (max-width:960px) {
        width: 100vw;
        grid-template-columns: 50vw 1fr 1fr;
    }

    @include mq(sm){
        display: block;
    }

    &__box{
        position: relative;
        grid-column: 1/3;
        grid-row: 1/3;
        background-color: rgba($color: $c-06, $alpha: .5);
        padding: 40px 264px 96px calc(((100vw - 960px) / 2) + 70px);
        
        @media screen and (max-width:980px){
            padding: 40px 264px 96px 60px;
        }

        @include mq(sm){
            .m-more-btn{
                margin: 0 auto;
            }   
        }


        @include mq(sm){
            padding: 40px 10px 80px;
        }
    }
    
    &__img{
        position: relative;
        z-index: 1;
        grid-column: 2/4;
        grid-row: 2/4;
    }
    
    &__title{
        @extend %m-h2-ttl;
        text-align-last: left;
        font-size: $fz-h1_pc;

        
        b{
            font-size: $fz-h1_pc;
        }
    }

    &__text{
        margin-bottom: 40px;
    }

    &:nth-child(odd){
        @media screen and (max-width:960px) {
            width: 100vw;
            grid-template-columns: 50vw 1fr 1fr;
        }
        .m-span-title{
            left:calc(((100vw - 960px) / 2) - 20px);
            top: 45%;

            @media screen and (max-width:980px){
                left: -10px;
            }
        }
    }
    
    &:nth-child(even){
        grid-template-columns: auto calc((100% - 50vw) / 2) 50vw;
        grid-template-rows: 24px auto 80px;
        margin-left: auto;

        @media screen and (max-width:960px) {
            width: 100vw;
            grid-template-columns: 1fr 1fr 50vw;
        }

        .m-lyt-01{
            &__img{
                grid-column: 1/3;
                grid-row: 1/3;
            }
    
            &__box{
                grid-column: 2/5;
                grid-row: 2/5;
                padding: 40px  calc(((100vw - 960px) / 2)) 96px 264px;

                @media screen and (max-width:980px){
                    padding: 40px 60px 96px 264px;
                }

                @include mq(sm){
                    padding: 40px 10px 80px;
                }

                .m-span-title{
                    left: none;
                    right:calc(((100vw - 960px) / 2) - 20px);
                    top: 45%;

                    @media screen and (max-width:980px){
                        right: -10px;
                    }
                }
            }
        }
    }

}

//topページのサブタイトル
.m-span-title{
    position: absolute;
    color: $c-07;
    font-size: $fz-tag;
    transform: rotate(90deg);
    display: inline-block;
    
    @include mq(sm){
        display: none;
    }
    
    &::before{
        position: absolute;
        content :"";
        height: 1px;
        width: 24px;
        background-color: $c-07;
        transform: translate(100%, -50%);
        right: -6px;
        top: 50%;

    }
}

//text-link
.m-text-link{
    display: flex;
    align-items: center;
    text-decoration: underline;
    transition: text-decoration .3s;
    justify-content: center;

    &::after{
        content: "";
        width: 8px;
        height: 8px;
        border-bottom: 1px solid $c-01;
        border-right: 1px solid $c-01;
        transform: rotate(-45deg);
        margin-left: 6px;
        transition: transform .3s;
    }

    &:hover{
        text-decoration: none;
        &::after{
            transform: rotate(-45deg) translate(5px, 5px);
        }
    }

}

