html{
    font-size: 10px;
}
*{
    line-height: 1.75;
    font-size: $fz-base_pc;
    color: $c-01;
    font-family: $ff;
}
a{
    text-decoration: none;
    transition: all .3s;
}

.inner{
    box-sizing: content-box;
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
}

section{
    margin-bottom: 160px;
}

//mv
.m-mv{
    margin-top: 80px;
    &-inner{
        position: relative;
        margin-left: auto;
        width: $w-01;
        height: 400px;
        background-image: url(../../../docs/shared/img/mv-company-01.png) ;
        background-size:82.545141874%;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        box-sizing: content-box;
        padding-left: 20px;
    }

    &-title{
        position: absolute;
        left: 20px;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 22px 38px;
        background-color: $c-03;
        color: $c-06;
        width: 460px;
        font-size: $fz-txt_01_pc;
        font-weight: bold;
        margin-top: 100px;
        border-radius: 8px;

        & >span{
            color: $c-06;
            font-size: $fz-h1_pc;
            font-weight: bold;
            display: inline-block;
            margin-right: 20px;
        }
    }
}

//c-btn
.m-c-btn{
    display: flex;
    justify-content: space-between;
    &__item{
        position: relative;
        width: calc(50% - 15px);
        border-radius: 8px;
        transition: all .3s;

        &::after{
            position: absolute;
            content : "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 0.5s;
            border-radius: 8px;
        }
        &:hover{
            &:after{
                opacity: 0;
            }
        }
        a{
            position: relative;
            display: block;
            color: $c-06;
            text-align: center;
            padding: 83px 20px;
            font-size: $fz-base_pc;
            z-index: 1;
            &::before{
                position: absolute;
                content: "";
                background-image: url(../../../docs/shared/img/bg-common-01.png);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0%;
            }
            
            
            
            b{
                display: block;
                width: fit-content;
                margin: auto;
                color: $c-06;
                font-size: $fz-c-btn;
                font-weight: bold;
            }
        }
        &:first-child{
            background: rgb(148,98,29);
            background: linear-gradient(315deg, rgba(148,98,29,1) 0%, rgba(213,142,43,1) 50%, rgba(236,156,45,1) 100%);
            &::after{
                background: rgb(44,166,198);
                background: linear-gradient(135deg, rgba(44,166,198,1) 0%, rgba(22,103,125,1) 50%, rgba(30,96,138,1) 100%);
                
                
            }
        }
        
        &:last-child{
            background: rgb(148,98,29);
            background: linear-gradient(135deg, rgba(148,98,29,1) 0%, rgba(213,142,43,1) 50%, rgba(236,156,45,1) 100%);
                
            &::after{
                background: rgb(30,96,138);
                background: linear-gradient(135deg, rgba(30,96,138,1) 0%, rgba(22,103,125,1) 50%, rgba(44,166,198,1) 100%);
            }
        }
    }
}

//more-btn
@mixin more-btn__ba($bg){
    position: absolute;
    content: "";
    transition: transform .5s;
    background-color: $bg;
}

.m-more-btn{
    position: relative;
    display: block;
    width: 184px;

    //borderのホバー時の動き
    @mixin more-btn__border--h ($scale, $position) {
        transform: $scale;
        transform-origin: $position;
        transition: transform .5s;
    }

    //borderのホバー前の動き
    @mixin more-btn__border ($position) {
        transform-origin: $position;
    }


    &::before,
    &::after{
        @include more-btn__ba($c-01);
        left: 0;
        width: 100%;
        height: 2px;
    }
    &::before{
        top: 0;
        @include more-btn__border (right);
    }
    &::after{
        bottom: 0;
        @include more-btn__border (left);
    }
    
    &:hover{
        &::before{
            @include more-btn__border--h(scaleX(0),left);
        }
        &::after{
            @include more-btn__border--h(scaleX(0),right);
        }
        
    }

    &__contact{
        a{
            width: 232px;
        }
    }

    a{
        display: block;
        text-align: center;
        position: relative;
        width: 100%;
        padding: 18px 0;


        &::before,
        &::after{
            @include more-btn__ba($c-01);
            transform: scaleY(0);
            top: 0;
            width: 2px;
            height: 100%;
        }
        &::before{
            left: 0;
            @include more-btn__border (bottom);
        }
        &::after{
            right: 0;
            @include more-btn__border (top);
            transform-origin: top;
        }
        
        &:hover{
            &::before{
                @include more-btn__border--h(scaleY(1),top);
            }
            &::after{
                @include more-btn__border--h(scaleY(1),bottom);
            }
            
        }
    }

    &--contact{
        width: 232px;
        &:before,
        &::after{
            @include more-btn__ba($c-08);
        }
        a{
            &:before,
            &::after{
                @include more-btn__ba($c-08);
            }
        }

    }
}

//タイトル
//h2-ttl
.m-h2-ttl{
    display: block;
    text-align: center;
    font-size: $fz-h2_pc;
    color: $c-01;
    font-weight: 600;
    margin-bottom: 40px;

    &>span{
        display: block;
        font-size: $fz-txt_01_pc;
    }

    &>b{
        color: $c-07;
        font-size: $fz-h2_pc--sub;
        line-height: 0.75;
    }
}

//h3
%m-h3{
    font-size: $fz-h3_pc;
    font-weight: 500;
    margin-bottom: 24px;
}

.m-h3-ttl{
    &--01{
        @extend %m-h3;

        span{
            position: relative;
            display: block;
            width: fit-content;
            font-family: Times New Roman ,serif;
            font-style: italic;
            color: $c-09;
            font-size: $fz-reason--sub;
            padding-left: 24px;

            &::before{
                position: absolute;
                content: "";
                height: 1px;
                width: 16px;
                background-color: $c-07;
                left: 0;
                top: 50%;
            }
        }
    }

    &--02{
        position: relative;
        text-align: center;
        padding-bottom: 24px;
        @extend %m-h3;

        &::before{
            position: absolute;
            content: "";
            height: 2px;
            width: 28px;
            background-color: $c-07;
            transform: translate(-50%, -50%);
            left: 50%;
            bottom: 0;
            
        }
    }
}
