.footer{
    background-color: $c-03;
    *{
        color: $c-06;
    }
    .inner{
        padding-top: 40px;
    }

    &-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &-logo{

    }

    &-nav{
        ul{
            display: flex;
        }

        &__item{
            margin-left: 20px;

            &:first-of-type{
                margin-left: 0;
            }

            a{
                color: $c-06;
                &:hover{
                    opacity: .7;
                }
            }
        }
    }

    &-info{
        margin-bottom: 20px;
        &__address{
            &:hover{
                opacity: .7s;
            }

        }
    }

    &-sns{
        display: flex;
        margin-bottom: 80px;

        &--facebook{
            margin-right: 24px;
        }

        a{
            transition: opacity .3s;

            &:hover{
                opacity: .7;
            }
        }
    }
    &-bottom{
        display: flex;
        justify-content: space-between;

        &__copy{
            small{
                font-size: $fz-tag;
                
            }
        }

        &__link{            
            &--item{
                font-size: $fz-tag;
                transition: opacity .3s;
                &:hover{
                    opacity: .7;
                }

            }
        }
    }
}