.header{
    background: $c-06;
    box-sizing: content-box;
    margin: 0 auto;
    z-index: 999;
    transition: all .3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: all .5s;
    
    
    &-top{
        @include mq(osm){
            background-color: rgba($color: $c-06, $alpha: 0);
            
            .header{
                &-inner{
                    background-color: inherit;
                }
                
                &-nav{
                    &__item{
                        a{
                            color: $c-06;
                            &::before{
                                background-color: $c-06;
                            }
                        }
                    }
                }
            }
        }

    }

    &-inner{
        display: flex;
        justify-content: space-between;
        max-width: 1366px;
        margin-left: auto;
        padding-left: 20px;
        box-sizing: content-box;
        align-items: center;
        @extend %w-01;

        @media screen and (min-width:1366px) {
            margin: 0 auto;
        }

        @include mq(sm){
            width: 100%;
            margin-left: 0;
            box-sizing: border-box;
            padding: 10px 20px;
        }
    }
    &-logo{
        z-index: 1;
        @media screen and (min-width:1366px) {
            margin-left: 92px;
        }

        @include mq(sm){
            width: 60px;
        }

        a{
            display: block;
            &:hover{
                opacity: .7;
            }
        }
    }

    %btn-bar{
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        border-radius: 1.5px;
        background-color: $c-03;
        transition: transform .3s, background-color .3s;
        left: 0;
    }

    &-btn{
        @include mq(osm){
            display: none;
        }

        position: relative;
        border: none;
        background-color: inherit;
        width: 30px;
        height: 30px;
        padding: 0;
        z-index: 1;
        
        &::after,
        &::before{
            @extend %btn-bar;
        }

        span{
            position: relative;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-indent: 100%;

            &::before{
                @extend %btn-bar;
                transition: opacity .3s;
                top: 50%;
            }
        }
    }
    
    &-nav{
        display: block;
        height: 100%;
        margin-right: 0;
        transition: transform .3s;
        @media screen and (min-width:1366px) {
            margin-right: -100px;
        }

        @include mq(sm){
            position: fixed;
            top: 0;
            right: 0;
            width: 70vw;
            height: 100vh;
            transform: translateX(100%);
            background-color: $c-13;
        }
        
        ul{
            display: flex;
            height: 100%;
            align-items: center;

            @include mq(sm){
                flex-direction: column;
                padding: 100px 10px 0;
            }
        }

        &__item{
            display: flex;
            height: 100%;
            margin-left: 20px;
            align-items: center;

            @include mq(sm){
                height: 53px;
                width: 100%;
                margin-left: 0;
                justify-content: center;
            }
            
            &:first-child{
                margin-left: 0;
            }

            a{
                color: $c-01;
                padding: 4px;
                font-size: $fz-base_pc;
                position: relative;
                text-align: center;

                @include mq(sm){
                    width: fit-content;
                    color: $c-06;
                }

                &::before{
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 2px;
                    background-color: $c-01;
                    bottom: -2px;
                    right: 0;
                    transition: width .3s;
                }
                
                &:hover{
                    &::before{
                        width: 100%;
                        left: 0;
                    }
                }
            }

            &--contact{
                display: block;

                @include mq(sm){
                    display: flex;
                    width: 100%;
                }

                a{
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    height: 100%;
                    padding: 21px;
                    background-color: $c-05;
                    color: $c-06;
                    
                    @include mq(sm){
                        width: 100%;
                        justify-content: center;
                        padding: 0 20px;
                    }

                    &::before{
                        display: none;
                    }

                    &:hover{
                        background-color: $c-06;
                        color: $c-05;
                        
                    }
                }
            }
        }
    }

    &--open{
        .header-btn{
            &::after,
            &::before{
                top: 50%;
                background-color: $c-06;
            }

            &::after{
                transform: rotate(-135deg);
            }
            
            &::before{
                transform: rotate(135deg);
            }

            span{
                opacity: 0;
            }
        }

        .header-nav{
            transform: translateX(0%);
        }
    }

    &--visible{
        background-color: $c-06;
        position: fixed;
    }
}