.index{
    margin-top: -80px;

.mv{
    position: relative;
    background-image: url(../../../docs/shared/img/mv-index-01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;

    @include mq(sm){
        height: 553px;
        background-position: 80% 0; 
    }

    .inner{
        position: relative;
        height: 100%;
    }

    &-text{
        // @include mq(osm){
            position: absolute;
            bottom: 160px;
            left: 20px;
        // }

        @include mq(sm){
            // position: relative;
            bottom: 40px;

        }

        &__title,
        &__title b,
        &__title b span{
            color: $c-06;
        }

        &__title{
            font-size: $fz-txt_01;

            b{
                display: block;
                width: fit-content;
                font-size: $fz-txt_05;
                font-weight: bold;

                @include mq(sm){
                    font-size: $fz-txt_08;
                }
            }
        }
    }

    &-news{
        
        @include mq(osm){
            position: absolute;
            transform: translateY(50%);
            right: 0;
            bottom: 0;
            width: 80%;
            max-width: 683px;
            margin-bottom: 0;
        }

            background-color: $c-13;
            width: 100%;

        a{
            position: relative;
            display: flex;
            align-items: center;
            padding: 19px 24px;
            
            @include mq(sm){
                display: block;
                padding: 8px 8% 8px 18px;
            }

            >*{
                transition: opacity .3s;
                color: $c-06;
            }


            &::before{
                position: absolute;
                content : "";
                top: 65%;
                right: 15%;
                width: 12px;
                height: 12px;
                border-right: 4px solid $c-06;
                border-bottom: 4px solid $c-06;
                border-right: 4px solid $c-06;
                border-bottom: 4px solid $c-06;
                transition: right .3s;
                transform: rotate(-45deg) translate(100%, -50%);
                
                @include mq(sm){
                    border-right: 2px solid $c-06;
                    border-bottom: 2px solid $c-06;
                    right: 7%;
                }
            }
            &:hover{
                    opacity: .7;
                
                &::before{
                    right: 10%;
                    
                    @include mq(sm){
                        right: 5%;
                    }
                }
            }
        }
        
        &-title{
            position: relative;
            font-size: $fz-base_pc;
            margin-right: 72px;

            @include mq(sm){
                width: fit-content;
            }
            
            &::before{
                position: absolute;
                content : "";
                transform: translate(100%, -50%);
                top: 50%;
                width: 40px;
                height: 1px;
                background-color: $c-06;
                right: -16px;
            }

        }
        time{
            font-size: $fz-tag;
            display: inline-block;
            margin-right: 16px;
        }

        p{
            font-size: $fz-base_pc;

            @include mq(sm){
                display: inline-block;
            }
        }
    }
}

.lead{
    position: relative;
    margin-bottom: 265px;

    @include mq(sm){
        margin-bottom: 120px;
    }

    .inner{
        position: relative;
    }
    &::before{
        position: absolute;
        content: "";
        width: calc((375 / 1366) * 100vw);
        height: calc((375 / 1366) * 100vw);
        background-image: url(../../../docs/shared/img/icon-index-01.png);
        background-position: center;
        background-size: cover;
        top: -48px;
        left: 50%;
    }
    &-title{
        text-align: center;
        font-size: $fz-txt_02;
        margin-bottom: 40px;
    }

    .m-lead{
        margin-bottom: 0;
    }

    .m-span-title{
        right: 0px;
        top: 50%;
    }
}

.m-lyt-01{
    @include mq(sm){
        padding: 0 10px;
    }
}

.recruit{
    background-image: url(../../../docs/shared/img/bg-index-01.png);
    background-size: cover;
    background-position: center;
    padding: 80px 20px;

    .m-h2-ttl,
    .m-h2-ttl span,
    &-text{
        color: $c-06;
    }

    &-text{
        text-align: center;
        margin-bottom: 40px;
    }

    .m-more-btn{
        &::before,
        &::after{
            background-color: $c-06;
        }
        
        a{
            color: $c-06;
            &::before,
            &::after{
                background-color: $c-06;
            }
        }

        &:last-child{
            &::before,
            &::after{
                background-color: $c-08;
            }
            
            a{
                &::before,
                &::after{
                    background-color: $c-08;
                }
            }
        }
    }
}

.contact{
    .inner{
        background-color: rgba(245, 245, 245, .9);
        box-shadow: 0px 0px 100px rgba(245, 245, 245, .9);
        padding: 42px 123px 38px 32px;

        @include mq(sm){
            padding: 40px 10px;
        }
    }

    .m-h2-ttl{
        text-align-last: left;
    }

    &-box{
        display: flex;
        justify-content: space-between;

        @include mq(sm){
            flex-direction: column;
            justify-content: center;
            
            .m-more-btn{
                margin: 0 auto;
                margin-top: 40px;
            }
        }
    }
}
}