$breakpoints: (
//キー  値
    'xs': 'screen and (max-width: 376px)',
    'sm': 'screen and (max-width: 768px)', //767px以下（スマホ）用の表示
    'md': 'screen and (max-width: 1025px)', //1024px以上（タブレット・PC）用の表示
    'xl': 'screen and (min-width: 1026px)'

) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
    }
}
@include mq(md){
    .is-sp{
        display: none;
    }
}
@include mq(sm){
    .is-pc{
        display: none;
    }
}

// color
$c-01: #0A1133;
$c-02: #F0F0F0;
$c-03: #043847;
$c-04: #E68F23;
$c-05: #D9912B;
$c-06: #fff;
$c-07: #2EA7C8;
$c-08: #CC8829;
$c-09: #0A113399;
$c-10: #B5B7C1;
$c-11: #992E2E;
$c-12: #0F2D4D;
$c-13: #003847;

// font-size
$fz-h1_pc: 3.6rem;
$fz-h2_pc: 2.8rem;
$fz-h2_pc--sub: 4.8rem;
$fz-c-btn: 3.6rem;
$fz-h3_pc: 2.8rem;
$fz-txt_01_pc: 2.0rem;
$fz-txt_02_pc: 2.8rem;
$fz-txt_03_pc: 4.0rem;
$fz-txt_04_pc: 2.4rem;
$fz-txt_05_pc: 3.6rem;
$fz-base_pc: 1.6rem;
$fz-tag: 1.2rem;
$fz-reason--sub: 1.2rem;

//ff
$ff: 'Zen Kaku Gothic New', "Meiryo", sans-serif;


//width

%w-01{
    @media screen and (min-width:1000px) {
        width: calc(100vw - ((100vw - 960px) / 2));
    }

    width: calc(100vw - 20px);
}

%sec-bottom{
    margin-bottom: 160px;
}

%m-title-02{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    font-size: $fz-h3_pc;

    &::before{
        position: absolute;
        content: "";
        height: 2px;
        width: 40px;
        background-color: $c-07;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: -20px;
    }
}

%m-h2-ttl{
    display: block;
    text-align: center;
    font-size: $fz-h2_pc;
    color: $c-01;
    font-weight: 600;
    margin-bottom: 40px;

    &>span{
        display: block;
        font-size: $fz-txt_01_pc;
    }

    &>b{
        color: $c-07;
        font-size: $fz-h2_pc--sub;
        line-height: 0.75;
    }
}