$breakpoints: (
//キー  値
    'xs': 'screen and (max-width: 376px)',
    'sm': 'screen and (max-width: 768px)', //767px以下（スマホ）用の表示
    'md': 'screen and (max-width: 1025px)', //1024px以上（タブレット・PC）用の表示
    'xl': 'screen and (min-width: 1026px)'

) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
    }
}
@include mq(md){
    .is-sp{
        display: none;
    }
}
@include mq(sm){
    .is-pc{
        display: none;
    }
}

// color
$c-01: #0A1133;
$c-02: #F0F0F0;
$c-03: #043847;
$c-04: #E68F23;
$c-05: #D9912B;
$c-06: #fff;
$c-07: #2EA7C8;

// font-size
$fz-h1_pc: 3.6rem;
$fz-h2_pc: 3.6rem;
$fz-c-btn: 3.6rem;
$fz-h3_pc: 2.8rem;
$fz-txt_01_pc: 2.0rem;
$fz-base_pc: 1.6rem;
$fz-tag: 1.2rem;

//ff
$ff: 'Zen Kaku Gothic New', "Meiryo", sans-serif;


//width
$w-01: calc(100vw - ((100vw - 960px) / 2));


