.recruit{
    .m-mv-inner{
        background-image: url(../../../docs/shared/img/mv-recruit-01.png);
    }

    .invite{
        display: grid;
        width: 100vw;
        height: calc((644 / 1366) * 100vw);
        grid-template-columns: 32% 37% 31%;
        grid-template-rows: 18.63% 57.17% 24.22%;

        &__box{
            grid-column: 2/4;
            grid-row: 2/4;
            background-color: rgba($color: $c-06, $alpha: .9);
            padding: 80px 24px 100px;
            text-align: center;
            z-index: 1;

            &--title{  
                font-size: $fz-h2_pc;
                font-weight: bold;
                margin-bottom: 36px;
            }

            &--text{
                margin-bottom: 16px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        &__img{
            grid-column: 1/3;
            grid-row: 1/3;
        }
    }

    .feature{
        &-lyt{
            display: flex;

            &:nth-child(even){
                flex-direction: row-reverse;
                
                .feature-lyt__text--non{
                    left: 100%;
                    transform: translateX(-100%);
                }
            }

            %feature-item{
                position: relative;
                flex:1 1 50%;
            }

            &__text{
                @extend %feature-item;
                padding: 16px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &--non{
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-family: Times New Roman ,serif;
                    font-size: 90px;
                    line-height: 1;
                    font-style: italic;
                    color: transparent;
                    background: linear-gradient(135deg, rgb(46,167,200) 0%, rgb(4,56,71) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    display: block;
                }

                &--title{
                    @extend %m-title-02;
                }
            }

            &__img{
                @extend %feature-item;

                img{
                    object-fit: cover;
                }
            }
        }

        &-slide{
            margin-top: 160px;
            @keyframes feature-slide {
                0%{
                    transform: translateX(-100%);
                }
                100%{
                    transform: translateX(0%);
                }
            }

            
            &-wrap{
                overflow: hidden;
                width: 100vw;
                display: flex;
                margin-right: 48px;
            }

            display: flex;
            height: calc((324 / 1366) * 100vw);
            width: fit-content;
            animation:feature-slide 15s linear infinite;

            &__img{
                width: calc((432 / 1366) * 100vw);
                margin-right: 48px;
            }
        }
    }

    .job-desc{
        &-list{
            background-color: $c-06;
            padding: 80px 20px;
        }

        &-item{
            display: flex;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            border-bottom: 1px solid $c-10;
            padding-bottom: 16px;
            padding-left: 24px;
            margin-bottom: 16px;
            
            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            &__term{
                flex: 38% 1 1;

            }
            
            &__desc{
                flex: 62% 1 1;
            }
        }
    }

}