.strength{
    .m-mv{
        &-inner{
            background-image: url(../../../docs/shared/img/mv-strength-01.png);
        }
    }

    .reason{
        &-lead{
            text-align: center;
            margin-bottom: 80px;
        }

        &-item{
            display: flex;
            width: 100%;
            align-items: flex-start;
            margin-right: auto;
            margin-bottom: 200px;

            &:last-child{
                margin-bottom: 0;
            }
            
            &__wrap{
                @include mq(sm){
                    padding: 0 10px;
                }
            }

            &--odd{
                flex-direction: row-reverse;
                margin-right: 0;
                margin-left: auto;

                &>.reason-item__img{
                    margin-left: 0;
                    margin-right: -100px;
                }
            }

            &__img{
                max-width: 344px;
                max-height: 344px;
                min-width: 280px;
                min-height: 280px;
                width: 25.18vw;
                height: 25.18vw;
                overflow: hidden;
                margin-left: -100px;

                @include mq(sm){
                    max-width: none;
                    max-height: none;
                    width: calc(100vw - 20px);
                    height: calc(100vw - 20px);
                    margin-left: 0;
                }

                img{
                    height: 100%;
                    width: auto;
                }
            }

            &__box{
                background-color: rgba($c-06, .8);
                margin-top: 40px;
                padding: 80px 140px;
                max-width: 67.57vw;
                
                @include mq(sm){
                    width: 100%;
                    max-width: none;
                    background-color: rgba($c-06, .5);
                    padding: 40px 10px;
                    margin-top: 0px;
                }
            }

            @include mq(sm){
                flex-direction: column-reverse;
                margin-bottom: 120px;
            }
        }
    }

    .review{
        &-slide{
            &-wrap{
                padding-bottom: 50px;
                position: relative;
    
            }
        }

        &-slide{

            &__item{
            }
        }

        .swiper-button-next,
        .swiper-button-prev{
            position: absolute;
            top: 100%;
            bottom: 0;
        }

        .swiper-button-prev{
            left: auto;
            right: 60px;
        }
        
        .swiper-button-next{
            right: 0px;
        }
    }
}